@import url("https://fonts.google.com/specimen/Space+Grotesk");
}
body{
    font-family: "Space Grotesk";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    background-image: url("images/bg-main-desktop.png");
    background-repeat: no-repeat;
}

input{
    display: block;
    padding: 10px 6rem;
    margin-top: 10px;

}
form,
.form-control {
    display: flex;
    flex-direction: column;
}
.form-control {
    gap: 0.3rem;
}

.form-control label {
    font-size: 0.66rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.form-control input,
.btn button {
    padding: 0.6rem 0.8rem;
    border-radius: 0.2rem;
    font-family: inherit;
}

.form-control input {
    font-family: inherit;
    outline: none;
    border: 1.3px solid hsl(270, 3%, 87%);
    padding: 0.4rem 0.8rem;
    border-radius: 0.2rem;
}
.form-control input.invalid {
    border: 1.3px solid  hsl(0, 100%, 66%); ;
}
.form-control input::placeholder{
    font-size: 0.73rem;
    font-weight: 500;
}
.date-container {
    display: flex;
    gap: 0.6rem;
    overflow: hidden;
}

.date {
    width: 80px;
}
.cvc {
    width:112px;
}

input[type=number] {
    -moz-appearance: textfield; 
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
 button{
    margin-top: 10px;
    color:  hsl(0, 0%, 100%);
    border: none;
    border-radius: 10px;
    background: hsl(278, 68%, 11%);
    padding: 10px 6rem;
}
input:focus{
outline-color: hsl(0, 100%, 66%);
}
.message{
    display: none;
    margin-top: 10px;
}

