@import url("https://fonts.google.com/specimen/Space+Grotesk");

body{
    font-family: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
}
section{
    background-image: url("images/bg-main-desktop.png");
   background-repeat: no-repeat;
   width: 30%;
   height: 40rem;
}
.section{
    margin-left: 18rem;
    margin-top: 8rem;
}
.front-card{
    margin-top: 3rem;
    margin-left: 12rem;
}
.back-card{
    margin: 20px  15rem;
}
.card-logo{
    position: relative;
    left: 13rem;
    top: 7rem;
}
.number{
    position: relative;
    left: 13rem;
    bottom: 20rem;
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
}
.name{
    position: relative;
    left: 13rem;
    bottom: 20rem;
    color: white;
    font-weight: 600;
    font-size: 1rem;  
}
.card-date{
    position: relative;
    left: 26rem;
    bottom: 22rem;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}
.card-cvc{
    position: relative;
    left: 30rem;
    bottom: 16rem;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}
.form-control label {
    font-size: 0.66rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

input{
    display: block;
    padding: 10px 6rem;
    margin-top: 10px;
    margin-bottom: 15px;

}
form,
.form-control {
    display: flex;
    flex-direction: column;
}
.form-control {
    gap: 0.3rem;
}


.form-control input {
    border: 1.3px solid hsl(270, 3%, 87%);
    padding: 0.4rem 0.8rem;
    border-radius: 0.2rem;
}

.form-control input::placeholder{
    font-size: 0.73rem;
    font-weight: 500;
}
.date-container {
    display: flex;
    gap: 0.6rem;
    margin-top: 20px;
}

.date {
    width: 80px;
}
.cvc {
    width:112px;
}

 button{
    margin-top: 10px;
    color:  hsl(0, 0%, 100%);
    border: none;
    border-radius: 10px;
    background: hsl(278, 68%, 11%);
    padding: 10px 6rem;
}
button:hover{
    cursor: pointer;
}
input:focus{
outline-color: hsl(0, 100%, 66%);
}
.message{
    display: none;
    margin-left: 22rem;
    margin-top: 10rem;
    text-align: center;
    color: hsl(279, 6%, 55%);
}
.invalid{
    display: none;
    color: hsl(0, 100%, 66%); 
}
.message h3{
    font-size: 2rem;
}
.message img{
    margin-left: 1rem;
}
@media screen and (max-width:1017px ) {
    section{
       width: 25%;
       height: 40rem;
    }
    .card-date{
        left: 20rem;
        bottom: 22.2rem;
      }
    .section{
        margin-left: 15rem;
    }
    .front-card{
        margin-top: 3rem;
        margin-left: 6rem;
    }
    .back-card{
        margin: 20px  3rem;
    }
    .card-cvc {
        left: 18rem;
        bottom: 16rem;
    }
    .card-logo{
        left: 8rem;
        top: 7rem;
    }
    .number{
        left: 8rem;
        bottom: 20rem;

    }
    .name{
        left: 8rem;
        bottom: 20rem;
    }
    input{
        padding: 10px 4rem;
    }
    button{
            padding: 10px 4rem;
        } 
        .message{
            margin-left: 15rem;
        } 
        
}
@media screen and (max-width:900px ) {
   .section{
    margin-left: 11rem;
   }
   .front-card{
    margin-top: 3rem;
    margin-left: 6rem;
    width: 250px;
}
.back-card{
    margin: 20px  3rem;
    width: 250px;
}
.card-logo{
    left: 7rem;
    top: 6rem;
    width: 50px;
}
.number{
    left: 7rem;
    bottom: 18rem;
    font-size: 1.3rem;
}
.name{
    left: 7rem;
    bottom: 18rem;
}
.card-cvc {
    left: 15rem;
    bottom: 14.7rem;
}
.card-date{
  left: 18rem;
  bottom: 20rem;
}
}

@media screen and (max-width:800px ) {
    main{
        flex-direction: column;
    }
    section{
       width: 50%;
       height: 20rem;
    }
 .section{
     margin-left: 1rem;
     margin-top: 5rem;
 } 
 input{
    width: fit-content;
}
button{
       width: fit-content;
       padding: 10px 8rem;
    } 
    .date-container input{
        width: auto;
    }
    .message{
       text-align: left;
       margin-left: 4rem;
       margin-top: 7rem;
    }
}

@media screen and (max-width:377px ) {
    section{
        width: 90%;
     }
     .section{
        margin-top: 2.5rem; 
     }
     .front-card{
        margin-top: 0.5rem;
        margin-left: 0.2rem;
    }
    .back-card{
        margin: 20px  0.5rem;
    }
    .card-logo{
        left: 4rem;
        top: -100px;
    }
    .number{
        left: 4rem;
        bottom: 18rem;
        font-size: 1rem;
    }
    .name{
        left: 4rem;
        bottom: 22rem;
    }
    .card-cvc {
        left: 13rem;
        bottom: 22rem;
    }
    .card-date{
      left: 15rem;
      bottom: 24rem;
    }
}
