@import url("https://fonts.google.com/specimen/Space+Grotesk");

body{
    font-family: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
}
section{
    background-image: url("images/bg-main-desktop.png");
   background-repeat: no-repeat;
   width: 30%;
   height: 40rem;
    
}
.section{
    margin-left: 18rem;
    margin-top: 8rem;
}
.front-card{
    margin-top: 3rem;
    margin-left: 12rem;
}
.back-card{
    margin: 20px  15rem;
}
.card-logo{
    position: relative;
    left: 13rem;
    top: 7rem;
}
.number{
    position: relative;
    left: 13rem;
    bottom: 20rem;
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
}
.name{
    position: relative;
    left: 13rem;
    bottom: 20rem;
    color: white;
    font-weight: 600;
    font-size: 1rem;  
}
.card-date{
    position: relative;
    left: 26rem;
    bottom: 22rem;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}
.card-cvc{
    position: relative;
    left: 30rem;
    bottom: 16rem;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}
.form-control label {
    font-size: 0.66rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

input{
    display: block;
    padding: 10px 6rem;
    margin-top: 10px;
    margin-bottom: 15px;

}
form,
.form-control {
    display: flex;
    flex-direction: column;
}
.form-control {
    gap: 0.3rem;
}


.form-control input {
    border: 1.3px solid hsl(270, 3%, 87%);
    padding: 0.4rem 0.8rem;
    border-radius: 0.2rem;
}

.form-control input::placeholder{
    font-size: 0.73rem;
    font-weight: 500;
}
.date-container {
    display: flex;
    gap: 0.6rem;
    margin-top: 20px;
}

.date {
    width: 80px;
}
.cvc {
    width:112px;
}

 button{
    margin-top: 10px;
    color:  hsl(0, 0%, 100%);
    border: none;
    border-radius: 10px;
    background: hsl(278, 68%, 11%);
    padding: 10px 6rem;
}
input:focus{
outline-color: hsl(0, 100%, 66%);
}
.message{
    display: none;
    margin-top: 10px;
}
.invalid{
    display: none;
    color: hsl(0, 100%, 66%); 
}

